    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>I am a postdoc in Brow University, and seeking a data scientist position in Fall 2017.</p>
				<p>I got a Ph.D. of  Applied Mathematics in Brown University; my adviser is Prof. Stuart Geman.</p>
                <p>I enjoy working with various problems about on images: compression, recognition, denoising, etc.</p>
				<p>I also worked on many machine learning topics, like prototype learning, data visualization, and dimension reduction.
                <p>My background are probability, statistics, and some mathematics.</p>
                <p>I enjoy building and repair things, from algorithms to carpentry.</p>
				<!--<p>I am also an online photographer of Shutterstock and iStock.</p>-->
                <br/>
              </div>
        </div>
    </section>
