    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>Applied Mathematics Ph.D. from Brown University, under the advisory of Prof. Stuart Geman. [my CV](resume.md)</p>
                <p>Many of my projects are about images, I enjoy working with various problems about it: compression, recognition, denoising, etc.</p>
                <p>My brain is formatted (mostly) with logic of probability theories and some mathematics.</p>
                <p>I enjoy building and repair things, from algorithms to carpentry.</p>
				<!--<p>I am also an online photographer of Shutterstock and iStock.</p>-->
                <br/>
              </div>
        </div>
    </section>
